<div class="container mt-5">
  <h1>My restaurants</h1>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
  <hr>
  <%= link_to new_restaurant_path(@restaurant), class: 'btn btn-light btn-sm border' do %>
      <i class="fa fa-pencil"></i> Add new restaurant
    <% end %>
</div>
